name: Release Python Package
permissions:
  contents: write
on:
  pull_request:
    paths: "requirements.txt" # Check requirements.txt because github actions can be updated too
    branches:
      - master
    types:
      - opened
      - synchronize
      - ready_for_review
jobs:
  dump_version:
    if: github.head_ref == 'renovate/all'
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Enable auto-merge
      uses: peter-evans/enable-pull-request-automerge@v3
      with:
        token: ${{ secrets.GITHUB_TOKEN }}
        merge_method: squash
        pull-request-number: ${{ github.event.pull_request.number }}
    - name: Configure Git
      run: |
        git config --global user.name "github-actions[bot]"
        git config --global user.email "github-actions[bot]@users.noreply.github.com"
    - name: Commit changes
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      run: |
        VERSION=$(grep 'opentelemetry-semantic-conventions==' requirements.txt | cut -d'=' -f3)
        sed -i -e "s/__version__ = .*$/__version__ = '$VERSION'/g" src/opentelemetry/instrumentation/kser/version.py
        git add src/opentelemetry/instrumentation/kser/version.py
        git commit -m "chore: Bump version to $VERSION"
        git tag v$VERSION
        git push https://x-access-token:${GITHUB_TOKEN}@github.com/${{ github.repository }}.git HEAD:master --tags
    - name: Install dependencies
      run: pip install build twine
    - name: Build the package
      run: python setup.py sdist bdist_wheel
    - name: Publish on PyPI
      env:
        TWINE_USERNAME: ${{ secrets.PYPI_USERNAME }}
        TWINE_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
      run: twine upload dist/*